{% load static %}
<div class="row">
    <div class="col-lg-2 text-lg">
        <img src="{% static 'images/logo.png' %}" class="rounded-circle"
             width="110" height="100">
    </div>
    <div class="col-lg-10">
        <h1 class="text-white display-3">Suparuk BIS3R1 </h1>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top position-sticky">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
{#            <link rel="stylesheet" type="text/css" href="{% static 'path/to/your/css/file.css' %}">#}

            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"></a>
                    </li>
                </ul>
                <form class="d-flex">
{#                    <input class="form-control me-2" type="text" placeholder="">#}
{#                    <button class="btn btn-primary" type="button">Search</button>#}
                </form>
            </div>
        </div>
    </nav>
</div>

