{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="mt-4 p-5 bg-White text-White rounded">
      <div class="row">
          <div class="col-lg-4">
              <img src="{% static 'images/pond.jpg' %}"
                   width="200px" height="400px">
          </div>
          <div class="col-lg-8 text-primary  ">
              <h2 class=" text-center"><h2>ประวัติส่วนตัว<br></h2>
              <br>ชื่อ: นายศุภรักษ์ สะเดา<br>
              <br>ชื่อเล่น: ปังปอนด์<br>history.html
              <br>วันเดือน/ปีเกิด: 2 สิงหาคม 2545 <br>
              <br>อายุ: 20 <br>
              <br>ที่อยู่: 52/13 ต.รอบเมือง อ.เมืองร้อยเอ็ด จ.ร้อยเอ็ด <br>
              <br>กำลังศึกษาอยู่ที่: 150 ถ. ศรีจันทร์ ในเมือง อำเภอเมืองขอนแก่น ขอนแก่น 40000 <br>
              <br>สีที่ชอบ: สีเขียวและสีแดง<br>
              <br>อาหารที่ชอบ: ผัดกะเพราหมูสับ+ไข่เจียว<br>
              <br>ผลไม้ที่ชอบ: มังคุดและกล้วยหอม<br>
              <br>เครื่องดื่มที่ชอบ: แป็บซี่ <br>
              <br>เบอร์โทรศัพท์: 0650949790<br>
              <br>FaceBook: Suparuka sadao<br>
          </div>
      </div>
    </div>
    <br>
        <div class="text-center">
            <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-border text-success"></div>
            <div class="spinner-border text-success"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-muted"></div>
        </div>
    <br><br><br><br><br><br><br>
{% endblock %}