{% load static %}

<br>
<ul class="list-group">
    <li class="list-group-item active"><i class=""></i> Menu:</li>
    <li class="list-group-item"><a href="/">
        <i class="fa fa-home"></i> Home</a></li>
    <li class="list-group-item"><a href="/ProfileApp/history">
        <i class="fas fa-list"></i>ประวัติส่วนตัว</a></li>
    <li class="list-group-item"><a href="/ProfileApp/firstweb">
        <i class="fas fa-list"></i>ประวัติการศึกษา</a></li>
    <li class="list-group-item"><a href="/ProfileApp/secondpage">
        <i class="fas fa-list"></i>สิ่งที่สนใจ</a></li>
    <li class="list-group-item"><a href="/ProfileApp/thirdpage">
        <i class="fas fa-list"></i>อาชีพที่ใฝ่ฝันในอนาคต</a></li>
    <li class="list-group-item"><a href="/ProfileApp/product">
       <i class="fas fa-list"></i>สินค้า</a></li>
    <li class="list-group-item"><a href="/ProfileApp/person">
        <i class="fas fa-list"></i>บุคคลต้นแบบ</a>
<li class="list-group-item"><a href="{% url 'ShowMyData' %}">
       <i class="fas fa-list"></i>shope</a></li>
        <span></span> </a>
    </li>

</ul>

