{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>The width and height Properties</h2>

    <div class="mt-4 p-5 bg-White text-White rounded">
        <div class="row">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro1.png' %}">
                        <h3>$400</h3>
                        <span>   </span>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro2.png' %}">
                        <h3>$400</h3>
                        <span>   </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro3.png' %}">
                        <h3>$400</h3>
                        <span>  </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro4.png' %}">
                        <h3>$400</h3>
                        <span>  </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro5.png' %}">
                        <h3>$400</h3>
                        <span>   </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro6.png' %}">
                        <h3>$400</h3>
                        <span>   </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro7.png' %}">
                        <h3>$400</h3>
                        <span>    </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro8.png' %}">
                        <h3>$400</h3>
                        <span>    </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro9.png' %}">
                        <h3>$400</h3>
                        <span>    </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="protien">
                        <img src="{% static 'images/pro10.png' %}">
                        <h3>$400</h3>
                        <span>    </span>
                        <a class="read_more mar_top" href="Javascript:void(0)"> Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
    </div>

    <br>


    <div class="text-center">
        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-border text-success"></div>
        <div class="spinner-border text-success"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-muted"></div>
    </div>
    <br><br><br><br><br><br><br>
{% endblock %}