{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div id="container">
           <div class="row">
            <div class="col-md-12">
                <div class=" header-text">
                    <div class=" text-center">
                        <h4>ข้อมูลส่วนตัว</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row my-2">
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                        <span class="text-danger">รหัสประจำตัว:</span> {{ IdNumber }}</h1>
                                    </h1>
                                </div>
                                <div class="col-md-5">
                                    <h1 class="h3 "><span class="text-danger">ชื่อ-นามสกุล</span> {{ fullName }}</h1>
                                </div>
                                <div class="col-md-2">
                                    <h1 class="h3 "><span class="text-danger">เพศ</span> {{ sex }}</h1>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                        <span class="text-danger">วันที่เกิด:</span> {{ birthday }}</h1>
                                    </h1>
                                </div>
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                        <span class="text-danger">อายุ</span> {{ age }}</h1>
                                    </h1>
                                </div>
                                <div class="col-md-2">
                                    <h1 class="h3 ">
                                        <span class="text-danger">กรุ๊ปเลือด</span> {{ bloodType }}</h1>
                                    </h1>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                        <span class="text-danger">สื่งที่ชอบ</span>{{ like }}
                                    </h1>
                                </div>
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                       <span class="text-danger">สิ่งที่เกลียด</span>{{ hate }}
                                    </h1>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                        <span class="text-danger">อาชีพปัจจุบัน</span>{{ status }}
                                    </h1>
                                </div>
                                <div class="col-md-5">
                                    <h1 class="h3 ">
                                       <span class="text-danger">อาชีพในอนาคต</span>{{ futurecareer }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-text my-2">
                    <div class=" text-center">
                        <h4><em>ข้อมูลสินค้า</em></h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="ิ table table-hover table-bordered ">
                                <thead class="text-center text-white bg-primary" style="font-size: 20px">
                                    <tr>
                                        <th width="30%">สินค้า</th>
                                        <th width="20%">ราคา</th>
                                        <th width="50%">รูปภาพ</th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark text-center">
                                {% for product in myproduct %}

                                    <tr>
                                        <td><h4>{{ product.0 }}</h4></td>
                                        <td><h4>{{ product.1|floatformat:2 }}</h4></td>
                                        <td >
                                            <img src="{% static  product.2 %}" width="30%">
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}