{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-light text-primary">
    <div class="col-lg-12 text-primary  ">
              <h2 class=" text-center"><br>อาชีพที่ใฝ่ฝันในอนาคต<br></h2>
        <br>
        <h3  class=" text-center">  อาชีพนักแคสเตอร์</h3>
        <div class="col-lg-12">
              <img src="{% static 'images/CASTER1.jpg' %}"
                   width="900" height="400px">
            <div id="container">
            <h3 class=" text-center">ในต่างประเทศอาจเรียกว่า Game Commentator คือ
                อาชีพด้านการผลิตสื่อในรูปแบบวิดีโอเพื่อเผยแพร่ในช่องทางออนไลน์ต่างๆ โดยบันทึกภาพขณะตัวเองกำลังเล่นเกม
                พร้อมทั้งมีการพูดคุยนำเสนอเรื่องราวต่างๆ ที่มีความเกี่ยวข้องกับเกมที่กำลังเล่นอยู่ ซึ่งเรียกว่า “การแคสเกม”
                สำหรับเนื้อหาหลักๆ ที่ใช้ในการผลิตวิดีโอ ได้แก่ การรีวิวแนะนำหรือวิจารณ์เกมที่กำลังป็นที่นิยม การสอนเทคนิคในการเล่นเกม
                การสอนภาษาอังกฤษหรือพูดคุยเรื่องต่างๆ ผ่านการใช้เกมเป็นสื่อกลาง เพื่อจุดประสงค์ในการให้ความบันเทิงกับผู้รับชม
                โดยมีการตัดต่อวิดีโอให้มีความน่าสนใจและน่าติดตามด้วยเทคนิคการใส่รูป เอฟเฟกต์ภาพและเสียงต่างๆ
                เพื่อมอบความบันเทิงและความสนุกสนาน
            </h3>
        </div>
          </div>
        <br> <br> <br> <br> <br> <br> <br>


    </div>

    <a href="{% url 'firstweb' %}" class="btn btn-danger">Go to First Web </a>
    <a href="{% url 'secondpage' %}" class="btn btn-warning">Go to Second Page </a> <br>
{#    <a href="http://www.googl.com" target="_blank">#}
{#        <img src="{% static '/images/google.png' %}" width="150px" height="70px">#}
{#    </a>#}
    <br><br><br>
</div>
{% endblock %}

//thirdpage = FutureDreamJob